<h3>Hello <%= session['username'] %></h3>

<!--<p><%= session['deck'] %></p>-->
<p>Dealer's Cards:</p>
<ul>
  <% session[:dealer_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<br>

<p>Player's Cards:</p>
<ul>
  <% session[:player_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</ul>

<p>
  You have a total of <%= calculate_total(session[:player_cards]) %>
</p>
