<h3>Hello <%= session['username'] %></h3>

<% if @play_again %>
  <p>
      <strong>Play again?</strong>
      <a href="/bet" class="btn btn-primary">Yes</a>
      <a href="/game_over" class="btn">No</a>
  </p>
<% end %>

<div class='well'>
  <h4>Dealer's Cards:</h4>
    <% session[:dealer_cards].each_with_index do |card, i| %>
      <% if session[:turn] != "dealer" && i == 0 %>
      <img src='/images/cards/cover.jpg' class='card'>
      <% else %>
        <img src='/images/cards/<%= card[0].downcase %>_<%= card[1].downcase %>.jpg' class='card'>
      <% end %>
    <% end %>

  <% if @show_dealer_hit_button %>
    <p>
      <h5>Dealer has <%= calculate_total(session[:dealer_cards]) %> and will hit.</h5>
      <form action="/game/dealer/hit" method="post">
        <input type='submit' class='btn btn-primary' value='Click to see dealer card &rarr;'>
      </form>
      <% end %>
    </p>
</div>
<br>

<div class='well' id='player_cards'>
  <h4>Player's Cards:</h4>
  <ul>
    <% session[:player_cards].each do |card| %>
      <img src='/images/cards/<%= card[0].downcase %>_<%= card[1].downcase %>.jpg' class='card'>
    <% end %>
  </ul>
  <h5><%= session[:username ]%> has $<%= session[:pot] %> and bet $<%= session[:bet] %></h5>
</div>
<p>
  <%= session[:username ]%> has a total of <%= calculate_total(session[:player_cards]) %>
</p>





<% if @show_hit_or_stay_buttons %>
  <form id='hit_form' action="/game/player/hit" method="post">
    <input type='submit' class='btn btn-success' value='Hit!'>
  </form>
  <form id='stay_form' action="/game/player/stay" method="post">
    <input type='submit' class='btn btn-warning' value='Stay'>
  </form>
<% end %>
